*{
    
    font-family: "Poppins", sans-serif;
    margin: 0;
    
}
.header{
    background-image: url("../assets/Images/header-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 500px;
    margin-top: 5%;
}
.biography{
    background-image: url("../assets/Images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 650px;
}
.latest-work{
    background-image: url("../assets/Images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    
}
.client-say{
    background-image: url("../assets/Images/footer-bg.png");
    background-position: right;
    text-align: center;
}
footer{
    text-align: center;
    padding-top: 5%;
    
}
.text-color{
    color: palevioletred;
}
p{
    color: gray;
}
.half-part{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-right: 5%;
    font-size: large;
}
.text{
    padding-top: 10%;
}
.half-part img{
    width: 80%;
}
.button-design{
    text-decoration: none;
    background-image: linear-gradient(rgba(0, 204, 255, 0.799), rgba(0, 51, 255, 0.804));
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    display: inline-block;
    margin-top: 5px;
}
.my-work{
    display: flex;
    flex-direction: row;
    
}
.center-heading{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 40px;
    
}
span{
    border-bottom: 3px solid ;
    border-image: linear-gradient(90deg, rgb(0, 179, 255),rgb(79, 0, 128));
    border-image-slice: 1;
}
.my-work img{
    width: 33%;
}
.contact{
    display: inline-block;
    background-image: linear-gradient(45deg, rgba(0, 204, 255, 0.799), rgba(0, 51, 255, 0.804));
    padding: 50px 100px;
    border-radius: 5px;
    color: white;
}
.contact-button-design{
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: 700;
}
